* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 24px;
}

h1 {
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
}
.firstText {
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: #E67F25;
    text-align: center;
}


border {
    font-family: sans-serif;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
}

div h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}